<!DOCTYPE html>
<html>
    <body>
        <h1>
            Analyze NBA Players' Stats and Salaries
        </h1>

        <p>
            Scatterplot
            <select id="stat_selected">
                {% for key, value in stat_options %}
                    <option value="{{value}}">{{key}}</option>
                {% endfor %}
            </select>
            <select id="year_selected">
                {% for year in year_options %}
                <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
            <select id="position_selected">
                {% for position in position_options %}
                <option value="{{position}}">{{position}}</option>
                {% endfor %}
            </select>
            <button id="get_scatterplot" onclick="getScatterplot()">
                Generate
            </button>
            <img id="scatterplot" src="static/scatterplot.png">

        </p>

        <p>
            Box Plot / historgram
            <img id="histogram" src="static/histogram.png">

        </p>

        <p>
            Heatmap
            <img id="heatmap" src="static.heatmap.png">
        </p>

        <button id="seed_data" onclick="seedFunction()">
            Seed DB
        </button>

        <br>
        <br>

        <div>
            <h2>
                Predict Salary
            </h2>

            <p>
                The following player statistics have been found to be the most important determinants
                of salary
            </p>

            <!-- TODO: Can we get these stats to be per game? -->
            <p>
                <label for="min_played">
                    Minutes Played
                    <input type="number" id="min_played">
                </label>
            </p>

            <p>
                <label for="true_shooting">
                    True Shooting
                    <input type="number" id="true_shooting">
                </label>
            </p>

            <p>
                <label for="off_reb_perc">
                    Offsensive Rebound Percentage
                    <input type="number" id="off_reb_perc">
                </label>
            </p>

            <!-- TODO: Make sure this is an inverse relationship -->
            <p>
                <label for="to_perc">
                    Turnover Percentage
                    <input type="number" id="to_perc">
                </label>
            </p>

            <p>
                <label for="offensive_box_p_m">
                    Offensive Plus/Minus
                    <input type="number" id="offensive_box_p_m">
                </label>
            </p>

            <p>
                <label for="off_reb">
                    Offsensive Rebounds
                    <input type="number" id="off_reb">
                </label>
            </p>

            <p>
                <label for="points">
                    Points
                    <input type="number" id="points">
                </label>
            </p>

            <button type="button" onclick="getPrediction()">
                Get Predicted Salary
            </button>
        </div>

        <h3 id="predicted_salary">
        </h3>
    </body>

    <script>

        function getScatterplot () {
            let stat_selected = document.getElementById("stat_selected").value
            let year_selected = document.getElementById("year_selected").value
            let position_selected = document.getElementById("position_selected").value

            let params = {
                "stat_selected": stat_selected,
                "year_selected": year_selected,
                "position_selected": position_selected
            }

            post("/getVisual/scatterplot", params).then(data => {
                console.log(data)
                document.getElementById("scatterplot").src = data['scatterplot_filename'];
                document.getElementById("histogram").src = data['histogram_filename'];
                document.getElementById("heatmap").src = data['heatmap_filename'];


            })            
        }


        function seedFunction(){
            console.log("seed")
            fetch("/seed/6516854352asdffsdg").then( function(res) {
                console.log("worked")
                return res.json()
            })
        }


        function getPrediction(){
            let min_played = document.getElementById("min_played").value;
            let true_shooting = document.getElementById("true_shooting").value;
            let off_reb_perc = document.getElementById("off_reb_perc").value;
            let to_perc = document.getElementById("to_perc").value;
            let offensive_box_p_m = document.getElementById("offensive_box_p_m").value;
            let off_reb = document.getElementById("off_reb").value;
            let points = document.getElementById("points").value;

            let params = {
                'min_played': min_played,
                'true_shooting': true_shooting,
                'off_reb_perc': off_reb_perc,
                'to_perc': to_perc,
                'offensive_box_p_m': offensive_box_p_m,
                'off_reb': off_reb,
                'points': points
            }

            post('/prediction/salary', params).then(data => {
                console.log(data);

                let salary = data;
                document.getElementById("heatmap").text = salary


            })


        }



        async function post(url, data){
            const response = await fetch(
                url,
                {method: "POST", body: JSON.stringify(data)}
            );

            if (response.ok){
                return response.json()
            }
             
        }

    </script>
</html>