<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

        <title>Salary Stats</title>
    </head>
    <body>
        <div class="container">
            <div class="col">
                <h1>
                    Analyze NBA Players' Stats and Salaries
                </h1>

                <p>
                    <select class="form-select form-select-lg" id="stat_selected">
                        {% for key, value in stat_options %}
                            <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                    </select>
                    <select class="form-select form-select-lg" id="year_selected">
                        {% for year in year_options %}
                        <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                    <select class="form-select form-select-lg" id="position_selected">
                        {% for position in position_options %}
                        <option value="{{position}}">{{position}}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-primary" id="get_scatterplot" onclick="getScatterplot()">
                        Generate
                    </button>
                </p>

                <div class="row">
                    <div class="col">
                        <p class="visualization-label">
                            Scatterplot
                        </p>
                        <img id="scatterplot" class="default-hidden" src="static/default.jpeg">
                    </div>

                    <div class="col">
                        <p class="visualization-label">
                            Histogram
                        </p>
                        <img id="histogram" class="default-hidden" src="static/default.jpeg">
                    </div>
                </div>


                <br>
                <br>

                <p>
                    This is a chart with a breakdown of the most significant statistics that were used to
                    build this machine learning model.
                </p>
                
                <!-- {{description_table_data | safe}} -->
                {% for table in description_table_data %}
                    {{description_table_cols[loop.index]}}
                    {{ table|safe }}
                {% endfor %}

                <br>
                <br>

                <div>
                    <h2>
                        Predict Salary
                    </h2>

                    <p>
                        The following player statistics have been found to be the most important determinants
                        of salary. Input values for each field to get a salary prediction powered by machine learning.
                    </p>

                    <p>
                        <label for="age">
                            Age
                            <input type="number" id="age">
                        </label>
                    </p>

                    <p>
                        <label for="per">
                            Player Efficient Rating
                            <input type="number" id="per">
                        </label>
                    </p>

                    <p>
                        <label for="ppg">
                            Points Per Game
                            <input type="number" id="ppg">
                        </label>
                    </p>

                    <p>
                        <label for="min_per_game">
                            Minutes Per Game
                            <input type="number" id="min_per_game">
                        </label>
                    </p>

                    <p>
                        <label for="def_reb_per_game">
                            Defensive Rebounds Per Game
                            <input type="number" id="def_reb_per_game">
                        </label>
                    </p>

                    <p>
                        <label for="fg_per_game">
                            Field Goals Made Per Game
                            <input type="number" id="fg_per_game">
                        </label>
                    </p>

                    <p>
                        <label for="fga_per_game">
                            Fields Goals Attempted Per Game
                            <input type="number" id="fga_per_game">
                        </label>
                    </p>

                    <button type="button" class="btn btn-primary" onclick="getPrediction()">
                        Get Predicted Salary
                    </button>
                </div>

                <h3 id="predicted_salary">
                </h3>

                <br>
                <br>
            </div>  
        </div>

    </body>

    <script>

        function getScatterplot () {
            let stat_selected = document.getElementById("stat_selected").value
            let year_selected = document.getElementById("year_selected").value
            let position_selected = document.getElementById("position_selected").value

            let params = {
                "stat_selected": stat_selected,
                "year_selected": year_selected,
                "position_selected": position_selected
            }

            post("/getVisual/scatterplot", params).then(data => {
                console.log(data)
                let scatter = document.getElementById("scatterplot");
                scatter.src = data['scatterplot_filename'];
                scatter.style.visibility = "visible";
                let hist = document.getElementById("histogram");
                hist.src = data['histogram_filename'];
                hist.style.visibility = "visible";
                // document.getElementById("heatmap").src = data['heatmap_filename'];


            })            
        }


        function seedFunction(){
            console.log("seed")
            fetch("/seed/6516854352asdffsdg").then( function(res) {
                console.log("worked")
                return res.json()
            })
        }


        function getPrediction(){
            let age = document.getElementById("age").value;
            let per = document.getElementById("per").value;
            let ppg = document.getElementById("ppg").value;
            let min_per_game = document.getElementById("min_per_game").value;
            let def_reb_per_game = document.getElementById("def_reb_per_game").value;
            let fg_per_game = document.getElementById("fg_per_game").value;
            let fga_per_game = document.getElementById("fga_per_game").value;

            let params = {
                'age': age,
                'per': per,
                'ppg': ppg,
                'min_per_game': min_per_game,
                'def_reb_per_game': def_reb_per_game,
                'fg_per_game': fg_per_game,
                'fga_per_game': fga_per_game
            }

            post('/prediction/salary', params).then(data => {
                console.log(data);

                let salary = data['salary_prediction'];
                document.getElementById("predicted_salary").textContent = salary


            })


        }



        async function post(url, data){
            const response = await fetch(
                url,
                {method: "POST", body: JSON.stringify(data)}
            );

            if (response.ok){
                return response.json()
            }
             
        }

    </script>
</html>